
body{
    font-family: 'Ubuntu Mono', serif;
    font-weight: 400;
    font-style: normal;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}


.headbanner{

    width: 100%;
    height: 20vh;
    background: linear-gradient(90deg,#bf094a, #d70a53);
    

}

.headbanner header{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.headbanner .logo-imagen{
    border: 4px solid black;
    border-radius: 100px;
    border-color: white;
    width: 7%;
    height: 100%;
    margin-left: 10px;
    margin-top: 5px;
    animation-name: startup-logo;
    animation-duration: 1s;
    
}

.headbanner .logo-imagen img{
    width: 100%;
    height: 100%;
    animation-name: startup-logo;
    animation-duration: 1s;
    
    
}

.headbanner nav{
    width: 100%;
    height: 50px;
    user-select: none;
    background-color: white;

}

.headbanner nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style-type: none;
}

.headbanner nav ul li{
    padding: 0;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 900;
    margin-left: 40px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid black;
    transition: all 0.3s;
    border-radius: 50px;
    padding: 5px;
    box-shadow: 2px 2px 2px black;
}

hr{
    border: 1px solid black;
}

.headbanner nav ul li:hover{
    background-color: #D70A53;
    border-radius: 10px;
    
}

.cuerpo{
    margin-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
}

.cuerpo .hoja-esqueleto{
    border: 0.5px solid black;
    border-radius: 30px;
    height: 100%;
    width: 40%;
    background: url(images/hoja_imagen.png);
    opacity: 0.9;
}

.cuerpo .hoja-esqueleto h1{
    border-bottom: 2px dotted black;
}

.cuerpo .hoja-esqueleto p{
    text-align: left;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

.cuerpo .imagenes-repre{
    width: 30%;
    height: 100%;
}

.cuerpo .imagenes-repre img{
    width: 100%;
    border: 3px solid #D70A53;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 20px;
    height: 100%;
}

.pie-de-pag{
    width: 100%;
    height: 100%;
    
}

.pie-de-pag footer{
    background-color: #D70A53;
    height: 100px;
    width: 100%;
}

@keyframes startup-logo {
    0%{
        transform: scale(0, 0);
    }

    100%{
        transform: scale(100%, 100%);
    }
    
}